<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form method="post" action="/login">
      <p>User id:<input type="text" id="userid" name="userid" /></p>
      <p>Password:<input type="password" id="pwd" name="pwd" /></p>
      <p><input type="submit" id="submit" name="submit" value="提交"/></p>
    </form>
  </body>
</html>
